<!-- <app-diretiva-ngif></app-diretiva-ngif> -->
<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->
<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->
<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->
<!--  -->
<!-- <app-exemplo-ng-content>
    <div class="titulo">Título do Painel</div>
    <div class="corpo">Conteudo passado para o componente.
        <app-operador-elvis></app-operador-elvis>
    </div>
    <div class="corpo">Conteudo passado para o componente 2.
        <app-operador-elvis></app-operador-elvis>
    </div>
</app-exemplo-ng-content> -->

<app-diretivas-customizadas></app-diretivas-customizadas>